.modal-background {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modalContainer {
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 500px;
  border-radius: 5px;
}

.modalHeader {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}

.modalHeader h5 {
  color: rgba(0, 0, 0, 0.55);
  font-size: 18px;
  line-height: 22px;
}

.modalHeader button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.modalHeader button i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55);
}

.modalContent {
  padding: 24px;
}
.modalContent .form {
  display: flex;
  flex-direction: column;
}

.modalContent .form p {
  text-align: start;
  color: #f5222d;
  margin-top: 5px;
}

.modalContent .form label {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.65);
}

.modalContent .form input:hover {
  border-color: #1890ff;
}

.name-input,
.email-input,
.phone-input,
.website-input {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
  gap: 10px;
}

.name-input input,
.email-input input,
.phone-input input,
.website-input input {
  width: 300px;
  border: 1px solid #cecaca;
  outline: none;
  padding: 4px 11px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 3px;
  font-size: 14px;
}

.modalFooter {
  padding: 16px 24px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  border-top: 1px solid #e8e8e8;
}

.modalFooter button {
  cursor: pointer;
  padding: 8px 15px;
  border: 1px solid #dacaca;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.cancelBtn {
  background-color: inherit;
  color: #a39c9c;
}

.cancelBtn:hover {
  border: 1px solid #1890ff;
  color: #1890ff;
}

.okBtn {
  background-color: #1890ff;
  border: 1px solid #1890ff;
  color: white;
}

@media (max-width: 500px) {
  .modalContainer {
    max-width: 95%;
  }

  .name-input,
  .email-input,
  .phone-input,
  .website-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}
